

@keyframes menu__button-arrow {

  from {
    left: -19px;
  }

  to {
    left: -15px;
  }

}

@keyframes scale-animation {

  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
  
}

@keyframes sparks-animation {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
  
}